<h1>All Eats</h1>
<div>
  <a href="index">Add Your New Eat</a>
  <a href="allEats">All the Eats</a>
</div>

<!--  for (let map of Maps){%> -->
  <div class="card" mb-3>
    <div class="row">
      <div class="col-md-4">
     <!-- display small version of the map with the relevant pins?  -->
      </div>
      <div class="col-mg-8">
        <div class="card-body">
            <h5 class="card-title">Title<!-- map.title !--> </h5>
            <p class="card-text">Description</p>
            <p class="card-text">
              <small class="text-muted">Name of Map Creator <!-- sth like map_user !--> </small>
            </p>
            <a class="btn btn-primary" href="#">View <!-- map.title !--> </a>
        </div>
      </div>
    </div>
</div>
<!-- % }%> -->
