<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script type="text/javascript" src "../server.js"></script>

</head>

<body>
    <h1> hello world</h1>
    <section id="new-tweet">

      <form method="get" action="/" id="form">

        <textarea name="text" placeholder= "what are you humming about?" id="tweet-text"></textarea>

        <div>
          <button class="button" type="submit">Tweet</button>
          <output name="counter" class="counter" for="tweet-text">140</output>
        </div>

      </form>

    </section>

    <div id="maps">
        <!--The div element for the map -->
      <div id="map" style="width:900px; height:500px; margin-left:80px;"></div>

      <!-- <div id="map2" style="width:900px; height:500px; margin-left:80px;"></div> -->

      <section id="save-map">
        <!-- <h2>Compose Tweet</h2> -->
        <form method="POST" action="/" id="form">
          <!-- <form> -->
          <!-- <label for="tweet-text" id="text">What are you humming about?</label> -->

          <div>
            <button class="button" type="submit">Save</button>
          </div>


        <!-- <img src="/images/profile-hex.png"> -->

      </form>
        <!-- my form tag is supposed to be above my tweet-display... i'm leaving it here for now -->

      </section>

      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWxHpGLzdtUW8alNMHhfiQgSHpPW6vsZk&callback=initMap&libraries=&v=weekly"
        async
      ></script> -->


      <!-- <div id="map_canvas" style="width:700px; height:500px; margin-left:80px;"></div>
      <div id="map_canvas2" style="width:700px; height:500px; margin-left:80px;"></div>

      <script type="text/javascript">
        var map, map2;

        function initMap(condition) {
            // create the maps
            var myOptions = {
                zoom: 14,
                center: new google.maps.LatLng(0.0, 0.0),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            map2 = new google.maps.Map(document.getElementById("map_canvas2"), myOptions);
        }
        </script> -->



      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWxHpGLzdtUW8alNMHhfiQgSHpPW6vsZk&callback=initMap&libraries=&v=weekly"
        async
      ></script>
      <!-- the api script must be placed after the maps -->

    </div>
    <!-- end of the maps div -->



</body>

</html>
